<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/nav'); -%>
            <h1>Your post updated successfully!</h1>          
    </body>

    <%- include('layouts/footer'); -%>